@model IEnumerable<BallHogs.Models.BHTeam>

@{
    ViewData["Title"] = "Index";
}

<h1>Your BHTeam</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Team Name
            </th>
            <th>
                Manager Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                <a asp-controller="Home" asp-action="SearchPlayer">Add 5 players to team</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BHTeamId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BHTeamId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BHTeamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
