@model IEnumerable<BallHogs.Models.BHTeam>

@{
    ViewData["Title"] = "Index";
}

<h1>BHTeams</h1>

<p>
    <a asp-action="Create">Create a New BHTeam</a>
</p>
<p>
    Please manage your BallHog team to ensure your team has 5 players
    <br />
    **Teams without 5 players cannot participate in LETS BALL games**
</p>

<table class="table">
    <thead>
        <tr style="color:white">
            <th>
                Team Name
            </th>
            <th>
                Manager Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td style="color:white">
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            @if (item.ManagerName == ViewBag.UID)
            {
                <td style="color:white">
                    <a asp-action="Details" asp-route-id="@item.BHTeamId">Manage Team Roster</a>
                </td>
                <td style="color:white">
                    <a asp-action="Edit" asp-route-id="@item.BHTeamId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.BHTeamId">Delete</a>
                </td>

            }
        </tr>
        }
    </tbody>
</table>
