@model BallHogs.Models.PlayersOnTeams

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlayersOnTeams</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BHTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BHTeam.BHTeamId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlayersOnTeamsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
