@model IEnumerable<BallHogs.Models.PlayersOnTeams>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BHTeam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BHTeam.BHTeamId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PlayersOnTeamsId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PlayersOnTeamsId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PlayersOnTeamsId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="PlayersOnTeams" asp-action="Index" method="post">
    <p>
        Player Search: <input type="text" name="player" />
        <input type="submit" value="Search" />
    </p>
</form>
